// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.social-btn {
  // border: solid;
  // margin: 5px;
  padding: 5 5 5 5;
  height: 25px;
  color: #00aced;
  text-align: center;
  width: 100px;
  // font: times;
}
